<div class="center-container">
  <div class="change-password-box">
    <h2>Đổi mật khẩu</h2>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <input type="password" placeholder="Mật khẩu cũ" [(ngModel)]="oldPassword" name="oldPassword" required />
      <input type="password" placeholder="Mật khẩu mới" [(ngModel)]="newPassword" name="newPassword" required />
      <input type="password" placeholder="Xác nhận mật khẩu mới" [(ngModel)]="confirmPassword" name="confirmPassword" required />
      <button type="submit">Lưu thay đổi</button>
    </form>
    <p *ngIf="message">{{ message }}</p>
  </div>
</div>